<!-- adminPanel.ejs  -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminStyles.css">

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <title>Admin Panel</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    



</head>

<body>

    <!-- *************************************************************** -->
    <!-- *************************** MESSAGES ************************** -->
    <!-- *************************************************************** -->

    <% if(error.length> 0) { %>
        <p style="background-color: red;">
            <%= error %>
        </p>
        <% } %>

            <% if(success.length> 0) { %>
                <p style="background-color: rgb(70, 168, 46);">
                    <%= success %>
                </p>
                <% } %>

                    <!-- *************************************************************** -->
                    <!-- ************************ ADD NEW ARTICLE ********************** -->
                    <!-- *************************************************************** -->

                    <div class="addNewOne">
                        <h1 class="text-light">پنل ادمین</h1>
                        <a href="/" class="btn btn-warning ">مشاهده ی وبسایت</a>
                        <button class="btn btn-outline-warning "
                            onclick="document.getElementById('addNewArticle').style.display='block'">افزودن مقاله
                            جدید</button>
                            <a href="/supportMessages" class="btn btn-outline-info">نمایش پیام‌های ساپورت</a>

                            <div id="addNewArticle" class="addNewArticle ">
                                <button onclick="document.getElementById('addNewArticle').style.display='none'"
                                    class="btn btn-outline-danger closeTab">بستن</button>
                                <h3 class="">افزودن مقاله جدید</h3>
                                <form  action="/handlenews" method="post" enctype="multipart/form-data">
                                    <div  style="display: flex; width: 100%;">
                                    <label for="title">عنوان مقاله</label>
                                    <input class=" " id="title" type="text" name="title">
                                    </div>
                                    <div class="decs-wrapper" style="display: flex; width: 100%;">
                                    <label for="desc">توضیحات مقاله</label>
                                    <textarea id="desc" name="desc"></textarea>
                                     </div>
                                     
                                        <div style="display: flex; ">
                                            <label for="label">دسته بندی</label>
                                            <input class=" " id="label" type="text" name="label">
                                        </div>
                                        
                                        <div style="display: flex; ">
        
                                        <label for="image">افزودن عکس</label>
                                            <input class=" " type="file" id="image" name="image">
                                        </div>
                                        <div style="display: flex; ">
                                        <label for="alt">افزودن alt</label>
                                            <input type="txt" id="alt" name="alt">
                                        </div>
                                        <div style="display: flex; ">
                                        <label for="keywords">افزودن keywords</label>
                                            <input type="txt" id="keywords" name="keywords">
                                        </div>
                                        <div style="display: flex; ">
                                        <label for="subj">افزودن subj</label>
                                            <input type="txt" id="subj" name="subj">
                                        </div>
                                   
        
                                    <button class="btn text-warning addBtn  " type="submit"> افزودن مقاله</button>
                                </form>
                            </div>
                        <h1 style="background-color: rgb(255, 255, 255);">لیست مقالات</h1>
                    </div>
                    <!-- <div style=" display: flex; flex-wrap: wrap; width: 100%; height: 100%; "> -->

                

                    <!-- *************************************************************** -->
                    <!-- ************************ ARTICLES LIST ************************ -->
                    <!-- *************************************************************** -->

                    <div style=" display: flex; flex-wrap: wrap; width: 100%;">

                        <% news.forEach((article, i)=> { %>
                            <div class="eachArticle">
                                <div class="articleContainer">

                                    <img class="articleImg" src="<%= article.img %>" alt="<%= article.alt %>">
                                    <div class="article-info">
                                        <h3 class="title">
                                            <%= article.title %>
                                        </h3>
                                        <h4> <%= article.label %></h4>
                                        <h5> <%= article.keywords %></h5>
                                        <!-- <h5> <%= article.subj %></h5> -->
                                        <div class="desc">
                                            <%- article.desc %>
                                        </div>
                                    </div>
                               
                                <div class="btn-container">
                                    <a class="btn btn-outline-danger deleteBtn"
                                        href="/deletearticle/<%= article._id %> ">حذف مقاله</a>
                                    <a class="" href="/news/<%= article._id %> ">مشاهده
                                        مقاله</a>

                                    <button class=" editBtn" name="form<%= i %>" onclick="openEditForm(this)">ویرایش
                                        مقاله</button>
                                </div> </div>
                                <!-- ********************** EDIT ARTICLE ********************* -->

                                <div id="form<%= i %>" class="editArticle">
                                    <button name="form<%= i %>" onclick="openEditForm(this)"
                                        class="btn btn-outline-danger closeTab">بستن</button>
                                    <h3 class="">ویرایش مقاله</h3>
                                    <form action="/editarticle/<%= article._id %>" method="post"
                                        enctype="multipart/form-data">
                                        <div style="display: flex; width: 100%;">
                                        <label for="editedTtitle">عنوان مقاله</label>
                                        <input class="" id="editedTitle" type="text" name="title"
                                            value="<%= article.title %> ">
                                            </div>
                                            <div style="display: flex; width: 100%;">
                                        <label for="editedDesc">توضیحات مقاله</label>
                                        <textarea  class=" " id="editedDesc"
                                            name="desc">
                                <%- article.desc %>
                            </textarea>
                            </div>
                            <div style="display: flex; width: 100%;">
                                        <label for="label">دسته بندی</label>
                                        <input class=" " id="label" type="text" name="label"
                                            value="<%= article.label %> ">
                                            </div>
                                            <div style="display: flex; width: 100%;">
                                        <label for="image">افزودن عکس</label>
                                        <input class=" " type="file" id="image" name="image">
                                        </div>
                                        <div style="display: flex; ">
                                            <label for="alt">افزودن alt</label>
                                                <input   value="<%= article.alt %> " type="txt" id="alt" name="alt">
                                            </div>
                                        <div style="display: flex; ">
                                            <label for="keywords">افزودن keywords</label>
                                                <input   value="<%= article.keywords %> " type="txt" id="keywords" name="keywords">
                                            </div>
                                        <div style="display: flex; ">
                                            <label for="subj">افزودن subj</label>
                                                <input   value="<%= article.subj %> " type="txt" id="subj" name="subj">
                                            </div>
                                      
                                            
                                        <button class="btn text-warning addBtn " type="submit"> ویرایش</button>
                                    </form>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <div id="supportResult"></div>

                    <!-- *************************************************************** -->
                    <!-- *************************** SCRIPTS *************************** -->
                    <!-- *************************************************************** -->
                    <!-- <script src="/js/mainPage Copy.js"></script> -->

                    <script src="/js/editArticle.js"></script>
                    <script>
                     
                        ClassicEditor
                            .create(document.querySelector('#desc'))
                            .catch(error => {
                                console.error(error);
                            });
        
                    </script>



</body>

</html>