<!-- gallerypage.ejs  -->
<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="نقشه های سخت و تصاویر قطعات آرماتورهای 2مفصلی">
  <meta name="keywords" content=" اسکلت عروسک, نقشه ساخت, آرماتور فلزی, آرماتور استاپ موشن, ریگ استاپموشن">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">


  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/glightbox.css">

  <link rel="stylesheet" href="/css/galleryPage.css">

  <link rel="icon" sizes="320x480" type="image/x-icon" href="/images/favicon.png">

  <title>گالری تصاویر</title>
</head>

<body>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <script src="/layouts/nav.js"></script>
  <!-- ----------------------------------------------------------------------- -->
  <!--                             FILTER-GALLERY                              -->
  <!-- ----------------------------------------------------------------------- -->

  <main class="outerPart myGalleryPage">
    <header class="myMainTitle">
      <h1 data-aos="fade-up">گالری تصاویر</h1>
    </header>
    <div class="container myFilterGallery">
      <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div data-aos-delay="100" class="text-center" id="myBtn-wrapper">
            <button data-aos="fade-up" data-aos-delay="100" class="btn btn-default filter-button " id="products"
              onclick="call(this.id)">محصولات</button>
            <button data-aos="fade-up" data-aos-delay="200" class="btn btn-default filter-button " id="pieces"
              onclick="call(this.id)">قطعات</button>
            <button data-aos="fade-up" data-aos-delay="300" class="btn btn-default filter-button " id="maps"
              onclick="call(this.id)">نقشه‌ها</button>
            <button data-aos="fade-up" data-aos-delay="400" class="btn btn-default filter-button " id="festival"
              onclick="call(this.id)">جشنواره </button>
            <button data-aos="fade-up" data-aos-delay="400" class="btn btn-default filter-button " id="olds"
              onclick="call(this.id)">آرشیو</button>
            <button data-aos="fade-up" data-aos-delay="500" class="btn btn-default filter-button active" id="all"
              onclick="call(this.id)">همه</button>
          </div>
        </div>
        <% images.reverse(); %>
        <% images.forEach(image=> {%>  
          <a href="<%= image.src %>"
            data-glightbox="title:<%= image.title %>   <%= image.link ? `|<a href='${image.link}'>ثبت سفارش</a>` : ''; %>; description:<%= image.description %>"
            class="glightbox gallery_product col-lg-4 col-md-6 col-sm-12 filter <%= image.category %>">
            <img alt="<%= image.title %>" src="<%= image.src %>">
          </a>
          <% }) %>
          

      </div>
    </div>
    <div class="backBtnWrapper">
      <a data-aos="fade-up" class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a>
    </div>
  </main>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <script src="/layouts/support.js"></script>
  <script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->


  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/iconify.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/glightbox.min.js"></script>
  <script src="/js/galleryPage.js"></script>

</body>

</html>