<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-language" content="fa">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="subject" content="معرفی محصولات آرتامن: آرماتور استاپ موشن/ آرماتور کیت">
  <meta name="description" content="کیتهای آرماتورهای آرتامن به گونه‌ای مهندسی و طراحی شده، که با استفاده از آن، به راحتی میتوانید هر اسکلتی که دوست دارید برای عروسکتان بسازید
    مناسب برای آموزش و بازی سازی، کودکان بالای 12سال">
  <meta name="keywords"
    content="  آرتامن, آرماتور, ارتامن, artaman, armature, آرماتور انسان, آرماتور استاپ موشن, stopmotion armatures, اسکلت مفصلدار">
  <meta name="thumbnail" content="https://artaaman.com/images/artamanHero.png" />
  <meta name='og:title' content='آرماتور استاپ موشن'>
  <meta name='og:type' content='تولیدکننده'>
  <meta name='og:url' content='https://www.artaaman.com//'>
  <meta name='og:image' content='https://artaaman.com/images/PHOTOS/dogArmature-01.webp'>
  <meta name='og:site_name' content='آرتامن'>
  <meta name='og:description'
    content='آرماتور و اسکلت عروسک، مخصوص ساخت استاپ موشن و انیمیشن، مناسب برای دانشجویان و هنرجویان انیمیشن'>
  <link rel="icon" sizes="320x480" type="image/x-icon" href="/images/favicon.png">
  <title> آرتامن |تولید کننده‌ی انواع آرماتور کیت و آرماتورهای مخصوص استاپ موشن در ایران </title>
</head>
<!-- SCROLL ANIMATE -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
  integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- NEWS SLIDER -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<!-- SHABNAM FONT -->
<link href="https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.0/dist/font-face.css" rel="stylesheet"
  type="text/css" />
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<!-- SWIPER GALLERY  -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.3/swiper-bundle.min.css" rel="stylesheet" media="all">

<link rel="stylesheet" href="/css/mainPage.css">


<body>



  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <nav class="myNavbar">
    <div class="myNavbar-logos" id="myNavbar">
      <div class="mainWrapper">
        <a class="mainLogos" href="/" id="myNavbar-logo">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 25.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 595.28 841.89" width="43px" style="enable-background:new 0 0 595.28 841.89;"
            xml:space="preserve">

            <g>
              <g>

                <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -43.4408 331.5611)" class="st0" cx="378.51"
                  cy="218.22" rx="43.65" ry="43.65" />
              </g>
              <g>
                <path class="st0" d="M375.89,588.3l-5.77,59.87h46.31c0,0-19.71-12.58-19.44-13.52c17.53-62.42,108.55-359.84-67.31-367.12
              c-39.79-1.65-100.67,15.16-134.84,70.42c28.2-33.42,51.68-46.27,90.87-52.23c69.82-10.62,97.14,50.14,95.05,107.58
              c-3.11,85.5-46.41,184.62-141.01,193.23c-53.91,4.91-92.96-44.91-62.81-97.95c36.03-63.38,151.73-71.19,151.73-71.19
              c-96.93-1.46-183.69,40.14-190.93,125.97C130.48,629.14,257.5,706.31,375.89,588.3z" />
              </g>
            </g>
          </svg>

        </a>
        <button class="mainLogos">
          <svg class="iconify" xmlns="http://www.w3.org/2000/svg" style="vertical-align: -0.125em;" width="30"
            height="30" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">

            <path fill="currentColor" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" />

          </svg>
          <span class="iconify close" id="closeIcn
          " data-icon="mingcute:close-fill"></span>
          <!-- <span class="close">X</span> -->
        </button>
      </div>
    </div>
    <div class="myNavbar-contents" id="myNavbar-contents">
      <ul>
        <li class="myNavbar-item">
          <a href="/">
            <div>
              <span class="iconify" data-icon="carbon:home" data-width="30" data-height="25"></span>
            </div>
            <p>خانه</p>
          </a>
        </li>
        <li class="myNavbar-item">
          <a href="https://shop.artaaman.com/?v=c0a5d2d67475">
            <div>
              <span class="iconify" data-icon="carbon:store" data-width="25"></span>
            </div>
            <p> فروشگاه</p>
          </a>
        </li>

        <li class="myNavbar-item">
          <a href="https://shop.artaaman.com/my-account">
            <div>
              <span class="iconify" data-icon="carbon:user-profile" data-width="25"></span>
            </div>
            <p> پروفایل کاربری</p>

          </a>
        </li>
        <li class="myNavbar-item">
          <a href="https://shop.artaaman.com/shop/cart">
            <div>
              <span class="iconify" data-icon="bytesize:cart" data-width="25"></span>
            </div>
            <p> سبد خرید</p>

          </a>
        </li>
        <li class="myNavbar-item">
          <a href="/gallery">
            <div>
              <span class="iconify" data-width="20" data-icon="grommet-icons:gallery"></span>
            </div>
            <p>گالری</p>
          </a>
        <li class="myNavbar-item">
          <a href="/news">
            <div>
              <span class="iconify" data-icon="emojione-monotone:rolled-up-newspaper" data-width="28"
                data-height="30"></span>
            </div>
            <p>اخبار و مقالات</p>
          </a>
        </li>
        </li>
        <li class="myNavbar-item">
          <a href="/contact">
            <div>
              <span class="iconify" data-icon="clarity:phone-handset-line" data-width="25" data-height="30"></span>
            </div>
            <p>تماس با ما</p>
          </a>
        </li>
        <li class="myNavbar-item">
          <a href="/about">
            <div>
              <span class="iconify" data-icon="clarity:info-circle-line" data-width="45" data-height="30"></span>
            </div>
            <p>درباره‌ی ما</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 HEADER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <header class="myHeader">
    <div class="myHeader-bg">
      <div class="myHeader-imgWrap myWrapper80">
        <img class="myHeader-img myBlueDropShadow" alt="آرماتور و تجهیزات استاپ موشن" data-aos="fade-down"
          src="/images/artamanHero.png">
      </div>
      <div class="myHeader-brandWrap">
        <h1 class="myHeader-brand myBlueDropShadow" data-aos="fade-left">
          Artaaman</h1>
      </div>
    </div>

    <section class="myHeader-content" data-aos="fade-up" data-aos-offset="0" data-aos-easing="ease-in-out">
      <div class="myHeader-contentWrap myWrapper80">
        <h1 data-aos="fade-left"> آرتامن، راهی برای تحقق رویای استاپ‌موشن؛</h1>
        <h2 data-aos="fade-left">تولید و عرضه انواع قطعات،
          آرماتورهای مفصلدار، ریگ نگهدارنده و تجهیزات باکیفیت مخصوص استاپ موشن</h2>
        <a data-aos="fade-left" href="https://shop.artaaman.com/?v=c0a5d2d67475" class="myBtn myBtn-cta">ورود به
          فروشگاه</a>
      </div>
    </section>
  </header>

  <!-- ----------------------------------------------------------------------- -->
  <!--                          MAPS                                           -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myMaps my-5 py-5 my-lg-0 py-lg-0">
    <div class="container  my-md-5  py-md-5">
      <div class="row" style="align-items: self-end; justify-content: space-between;">

        <div class="myMaps-content col-md-12 col-lg-5 mb-5 ">
          <h2 class="mb-4 " data-aos="fade-left" data-aos-delay="100">نقشه‌های ساخت آرماتور</h2>
          <p class="mb-4" data-aos="fade-left" data-aos-delay="200">لذت ساخت مدلهای استاپ موشن را با آرماتورهای آرتامن
            تجربه کنید.</p>
          <a href="/gallery" class="myBtn myBtn-greenN" data-aos="fade-left" data-aos-delay="300">نقشه های بیشتر</a>
        </div>

        <div class="myMaps-item col-12 col-md-4 col-lg-2 mb-5 mb-md-0" data-aos="fade-down" data-aos-delay="100">
          <a class="product-item" download="نقشه ی آرماتور سگ آرتامن" href="/images/MAP/pdf/PD_PDF_Map.pdf">
            <img src="/images/MAP/dogmap.svg" alt="نقشه ی آرماتور سگ آرتامن" width="120"
              class="img-fluid myMaps-itemImg">
            <h3 class="product-title">آرماتور حیوانات</h3>
            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid">
            </span>
          </a>
        </div>

        <div data-aos="fade-down" data-aos-delay="200" class="myMaps-item col-12 col-md-4 col-lg-2 mb-5 mb-md-0">
          <a class="product-item" href="/images/MAP/pdf/EH_PDF_Map.pdf" download="نقشه ی آرماتور آموزشی آرتامن">
            <img src="/images/MAP/Asset 1.svg" alt="نقشه ی آرماتور آموزشی آرتامن" width="100"
              class="img-fluid myMaps-itemImg">
            <h3 class="product-title">آماتور آموزشی</h3>
            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid">
            </span>
          </a>
        </div>

        <div data-aos="fade-down" data-aos-delay="300" class="myMaps-item col-12 col-md-4 col-lg-2 mb-5 mb-md-0">
          <a class="product-item" href="/images/MAP/pdf/PH_PDF_Map .pdf"
            download="نقشه ی آرماتور حرفه‌ ای مدل انسانی آرتامن">
            <img src="/images/MAP/Asset 5.svg" alt="نقشه ی آرماتور حرفه‌ ای مدل انسانی آرتامن" width="100"
              class="img-fluid myMaps-itemImg">
            <h3 class="product-title">آرماتور حرفه‌ای</h3>
            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid">
            </span>
          </a>
        </div>

      </div>
    </div>
  </section>


  <!-- ----------------------------------------------------------------------- -->
  <!--                       WHY US                                            -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myWhyUs py-5 mb-5 ">
    <div class="container">
      <div class="myWhyUs-contentsWrap row justify-content-between">

        <div class="myWhyUs-contents col-lg-7">
          <div class="myWhyUs-header  ml-lg-1">
            <h2 data-aos="zoom-in" class=" mb-4">چرا آرتامن</h2>
            <p data-aos="zoom-in" data-aos-delay="100">
              آرتامن با ساده‌سازی حداکثری طراحی های خود سعی در نهادینه ساختن صنعت استاپ موشن در کشور را دارد، یکی از
              ویژگی‌های برجسته آرماتورهای آرتامن، قابلیت جداسازی و ادغام قطعات می‌باشد. این ویژگی به شما امکان می‌دهد با
              تعویض قطعات، به سادگی سایز و آناتومی آرماتور خود را تنظیم کنید.
            </p>
          </div>
          <div class="myWhyUs-items row my-5 text-justify  ml-lg-1">
            <!-- items start -->

            <div class="myWhyUs-itemWrap col-6 col-md-6">
              <div class="myWhyUs-item" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon">
                  <span class="iconify" data-icon="material-symbols-light:free-cancellation-outline"
                    data-width="40"></span>
                </div>
                <h3>ارسال سریع و رایگان</h3>
                <p>
                  تمامی سفارشات آرتامن بلافاصله آماده، و بصورت رایگان با پست ویژه ارسال میشوند.
                  مدت زمان تحویل نهایت تا 3 روز کاری </p>
              </div>
            </div>

            <div class="myWhyUs-itemWrap col-6 col-md-6">
              <div class="myWhyUs-item" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon">
                  <span class="iconify" data-icon="material-symbols-light:add-card-outline-rounded"
                    data-width="40"></span>
                </div>
                <h3>خرید راحت</h3>
                <p>
                  شما میتوانید علاوه بر خرید حضوری، همه روزه به صورت تلفنی یا آنلاین سفارش خود را ثبت کرده، و درب منزل
                  تحویل
                  بگیرید
                </p>
              </div>
            </div>

            <div class="myWhyUs-itemWrap col-6 col-md-6">
              <div class="myWhyUs-item" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon">
                  <span class="iconify" data-icon="material-symbols-light:support-agent-outline" data-width="40"></span>
                </div>
                <h3>پشتیبانی 24 ساعته</h3>
                <p>
                  ما در <a href="/contact">تیم پشتیبانی آرتامن</a> 24 ساعته آماده‌ی پاسخگویی به سوالات و مشکلات شما
                  عزیزان
                  می‌باشیم
                  تیم ما با تعهد به ارائه بهترین خدمات به شما، در تمام ایام هفته و در هر ساعتی از روز، آماده‌ی ارائه
                  راهنمایی و حل مسائل شماست. </p>
              </div>
            </div>

            <div class="myWhyUs-itemWrap col-6 col-md-6">
              <div class="myWhyUs-item" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon">
                  <span class="iconify" data-icon="material-symbols-light:handshake-outline" data-width="40"></span>
                </div>
                <h3>ضمانت سلامت کالا</h3>
                <p>
                  ما در آرتامن به کیفیت و سلامت کالاهای ارائه شده پایبندیم. تمامی محصولات زیر نظر تیم کنترل کیفیت ما
                  قرار گرفته و با استانداردهای بالا تولید می‌شوند. همچنین، در صورت وجود هر گونه مشکل یا نقص در کالا، شما
                  می‌توانید با تیم خدمات مشتریان ما تماس بگیرید تا موارد خود را رسیدگی و حل نمایید.

                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="myWhyUs-imgPart col-lg-5 ">
          <div class="myWhyUs-imgWrap">
            <img data-aos="fade-up" data-aos-delay="100" src="/images/PHOTOS/posters/Artaman_05.jpg"
              alt="آرماتور آدم و تجهیزات با کیفیت استاپ موشن" class="img-fluid ">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                          Product's type                          -->
  <!-- ----------------------------------------------------------------------- -->

  <section class=" myProducts py-5 my-5">
    <div class="container">
      <div class="row d-flex justify-content-center mb-5">

        <h2 data-aos="fade-left" data-aos-delay="100">
          محصولات آرتامن
        </h2>
      </div>
      <div class="row">

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-down" data-aos-delay="600">
          <div class="myProducts-item d-flex">
            <div class="myProducts-imgWrap">
              <img src="/images/icon04.svg" alt=" قطعات آرماتور سوکت اند بال" class="img-fluid">

            </div>
            <div class="pt-3">
              <h3>قطعات آرماتور</h3>
              <p>
                مفاصل 2 سر گوی، مفاصل یک طرفه، مفصل ریگ، کیت تغییر سایز، پیچ استیل کوچک، آلن ریز، مفتول و کلیه قطعات و
                لوازم جانبی ساخت آرماتور <br><br>
              <p class="text-center"><a
                  href="https://shop.artaaman.com/product-category/products/armature-parts/?v=c0a5d2d67475">مشاهده
                  محصولات</a></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-down" data-aos-delay="400">
          <div class="myProducts-item d-flex">
            <div class="myProducts-imgWrap">
                  <img src="/images/icon03.svg" alt=" آرماتورهای مفصلدار آرتامن " class="img-fluid">
            </div>
            <div class="pt-3">
              <h3>آرماتور استاپ موشن</h3>
              <p>
                یکی از ملزومات ساخت کارکترهای استاپ موشن آرماتور یا اسکلت‌بندی داخلی آنهاست؛ آرماتورهای مفصلدار آرتامن
                به صورت کیت قطعات یا ساخته شده قابل سفارش می‌باشد
              </p>
              <p class="text-center"><a
                  href="https://shop.artaaman.com/product-category/products/stopmotion-armature/?v=c0a5d2d67475">مشاهده
                  محصولات</a></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-down" data-aos-delay="200">
          <div class="myProducts-item d-flex">
            <div class="myProducts-imgWrap">
              <img src="/images/icon02.svg" alt="ریگ نگهدارنده/ هولدر آرتامن" class="img-fluid">
            </div>
            <div class="pt-3">
              <h3>ریگ نگهدارنده</h3>
              <p>
                ریگ نگهدارنده یا هولدر یکی از ضروری ترین ابزارهای ساخت استاپ موشن است، ریگهای آرتامن در مدلهای مگنتی و
                وزنه‌ای بوده و قابلیت تحمل وزن بالایی دارد
                <br>
              </p>
              <p class="text-center"><a
                  href="https://shop.artaaman.com/product-category/products/stopmotion-holder/?v=c0a5d2d67475">مشاهده
                  محصولات</a></p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- ----------------------------------------------------------------------- -->
  <!--                          ABOUT US                                       -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myAboutUs my-4 ">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <div class="myAboutUs-photos ">
            <div class="myAboutUs-photoWrap myAboutUs-photo1"><img data-aos="fade-up" data-aos-delay="100"
                src="/images/PHOTOS/human-animal-armatures.webp" alt="Untree.co"></div>
            <div class="myAboutUs-photoWrap myAboutUs-photo2"><img data-aos="fade-down" data-aos-delay="100"
                src="/images/PHOTOS/pcs2.webp" alt="Untree.co"></div>
            <div class="myAboutUs-photoWrap myAboutUs-photo3"><img data-aos="fade-up" data-aos-delay="100"
                src="/images/PHOTOS/dogArmature-01.webp" alt="Untree.co"></div>
          </div>
        </div>
        <div class="col-lg-5 ps-lg-5 ">
          <h2 class=" mb-4" data-aos="fade-down">
            ما صنعت را به خدمت هنر در آورده‌ایم
          </h2>
          <p data-aos="fade-down">
            هنر استاپ موشن یکی از هنرهای پیچیده و ظریف است که نیازمند استفاده از ابزارهای با کیفیت بالا است. هر هنرمندی
            که در این حوزه فعالیت می‌کند، به دنبال ابزاری است که بتواند نیازهای خاص این هنر را برآورده کند.
            آرتامن با تعهد به ارائه <strong>تجهیزات حرفه‌ای</strong> و باکیفیت برای استاپ موشن،
            به شما هنرمند عزیز کمک میکند تا
            آزادانه و با اعتماد به نفس به خلاقیت خود ادامه دهید.
          </p>

          <ul class="myAboutUs-list  my-4" data-aos="fade-down">
            <li>نقشه های ساخت</li>
            <li>قابلیت ادغام</li>
            <li>تنوع قطعات </li>
            <li>کیفیت بالا</li>
          </ul>
          <div>
            <a href="/about" class="myBtn myBtn-greenN" data-aos="fade-left" data-aos-delay="300">درباره آرتامن</a>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SLIDER                                  -->
  <!-- ----------------------------------------------------------------------- -->

  <div class="mySlider carousel slide " id="myCarousel-id" data-bs-pause="hover" data-bs-ride="carousel"
    data-aos="zoom-in">

    <div class="carousel-inner ">

      <div class="carousel-item active">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="mySlider-imgWrap col-md-5 order-md-last text-center ">
              <img class="img-fluid" alt="آرماتور آدم" src="images/PHOTOS/posters/Artaman_06.jpg">
            </div>
            <div class="mySlider-context col-md-7 mb-0 d-flex align-items-center  ">
              <div class="text-center text-md-right ">
                <h2 class=" mb-3"><strong>آرماتورهای</strong> انسانی آرتامن</h2>
                <p class="mb-4">
                  با آناتومی های استاندارد مناسب هر سلیقه‌ای
                  <br>
                  ترکیب بندیهای متنوع و<strong> قیمت مناسب</strong>، ویژه‌ی دانشجویان و اساتید رشته هنر
                </p>
                <a class=" myBtn myBtn-greenOut"
                  href="https://shop.artaaman.com/product-category/products/stopmotion-armature/human-armature/?v=c0a5d2d67475"
                  target="_blank">
                  مشاهده آرماتورهای انسانی
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row justify-content-between">
            <div class="mySlider-imgWrap col-md-5 order-md-last text-center ">
              <img class="img-fluid" alt="آرماتور آدم" src="images/PHOTOS/posters/Artaman_01.jpg">
            </div>
            <div class="mySlider-context col-md-7 mb-0 d-flex align-items-center  ">
              <div class="text-center text-md-right ">
                <h2 class="mb-3">استحکام و <strong>ظرافت</strong>
                  محصولات</h2>
                <p class="mb-4">
                  پیش از ساخت هر مدلی باید به فکر یک اسکلت بندی قوی برای آن بود، مدلهای استاپ موشن نیز از این قاعده
                  مستثنی نیستند؛ آرماتورهای مفصل دار آرتامن با کیفیت بالا و ظرافت چشمنوازیی که دارد خیال شما را از این
                  بابت آسوده میسازد.
                </p>
                <a class="float-lg-left myBtn myBtn-greyOut "
                  href="https://shop.artaaman.com/product-category/products/stopmotion-armature/human-armature/?v=c0a5d2d67475"
                  target="_blank">
                  مشاهده محصولات
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row justify-content-between">
            <div class="mySlider-imgWrap col-md-5 order-md-last text-center ">
              <img class="img-fluid p-5" alt="آرماتور آدم" src="images/13th-animation.jpg">
            </div>
            <div class="mySlider-context col-md-7 mb-0 d-flex align-items-center  ">
              <div class="text-center text-md-right ">
                <h2 class="mb-4"><span style="color: #7a2182;">تخفیف استثنایی</span> محصولات آرتامن
                </h2>
                <p class="mb-3">
                  در هشتمین بازارملی پویانمایی تهران منتظر حضور گرمتان هستیم
                </p>
                <strong>13 تا 17 اسفندماه 1402</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#myCarousel-id" role="button"
      data-bs-slide="prev">
      <iconify-icon icon="mingcute:left-fill"></iconify-icon>
    </a>

    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#myCarousel-id" role="button"
      data-bs-slide="next">
      <iconify-icon icon="mingcute:right-fill"></iconify-icon>
    </a>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                NEWS-GALLERY                                -->
  <!-- ----------------------------------------------------------------------- -->

  <section class="myNews py-5">
    <h2 data-aos="fade-left" data-aos-delay="200">
      اخبار و مقالات
    </h2>
    <div class="owl-carousel owl-theme mainWrapper myNews-slider" id="newsSlideShow" data-aos="fade-up">
      <% last.forEach((article, index)=>{ %>
        <div class="myNews-item" data-aos="fade-up" data-aos-delay="<%= 100 + index * 100 %>">
          <a href="news/<%= article._id %>">
            <img loading="lazy" width="310" height="200" src="<%= article.img %> "
              alt="<%= article.alt || article.title %> ">
            <div class="myNews-info ">
              <small>
                <%= article.label %>
              </small>
              <h3>
                <span>
                  <%= article.title %>
                </span>
                <span class="iconify myNews-infoIcon" data-icon="dashicons:arrow-left-alt2"></span>
          </a>
          </h3>
        </div>
    </div>
    <% }) %>
  </section>



  <!-- ----------------------------------------------------------------------- -->
  <!--                                  QUESTOUNS                              -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="myFqa my-5 py-5">
    <div class="myFqa-wrap mainWrapper">
      <h2 data-aos="fade-left">
        سوالات متداول
      </h2>
      <div class="myAcordian-wrapper">
        <button class="myFqa-accordion" data-aos="fade-down" data-aos-delay="100"> آرماتور استاپ موشن چیست و چه کاربردی
          دارد؟</button>
        <div class="myFqa-panel">
          <p>
            به اسکلت داخلی عروسکهای استاپ موشن آرماتور گفته میشود که انواع مختلفی دارند و بیشتر در مدلسازی و فرایندهای
            پیش تولید انیمیشن استفاده میشود. برای آشنایی بشتر پیشنهاد میکنم مقاله <a
              href="https://artaaman.com/news/62caccc5e066f9ef559a0eb0">آرماتور چیست</a> را مطالعه کنید.
          </p>
        </div>
        <button class="myFqa-accordion" data-aos="fade-down" data-aos-delay="200"> چرا باید از آرماتور استفاده
          کنم؟</button>
        <div class="myFqa-panel">
          <p>
            استفاده از آرماتور از دو جهت توصیه میشود 1-برای سهولت در مدلسازی و ساخت پاپتهایی جذاب و مستحکم 2- ایجاد
            حرکات واقعی و کمک به انیماتورها برای خلق حرکاتی نرم و باورپذیر
          </p>
        </div>


        <button class="myFqa-accordion" data-aos="fade-down" data-aos-delay="300">تفاوت مدلهای آموزشی و حرفه‌ای
          آرماتورهای آرتامن در چیست؟</button>
        <div class="myFqa-panel">
          <p>

            آرماتورهای مدل آموزشی با تمرکز بر آموزش و آشنایی با نحوه استفاده از آرماتورها طراحی و ساخته شده است، و تعداد
            قطعات کمتر و قیمت مناسب‌تری دارند. در حالی که آرماتورهای حرفه‌ای برای استفاده در پروژه‌های واقعی طراحی و
            ساخته شده و کیفیت ساخت، دقت جزئیات، قطعات متنوع‌تر و قیمت بالاتری دارند. برای آشنایی بیشتر پیشنهاد میکنم
            مقاله‌های <a href="https://artaaman.com/news/646d4ef7576e9ce0d7b9b7dd">آرماتور آموزشی</a> و <a
              href="https://artaaman.com/news/645bff8be56996f251776a1f">آرماتور حرفه ای</a> را مطالعه کنید

          </p>
        </div>


        <button class="myFqa-accordion" data-aos="fade-down" data-aos-delay="100">
          تفاوت کیت با آرماتورهای مونتاژ شده‌ی آرتامن در چیست؟</button>
        <div class="myFqa-panel">
          <p>
            کیتهای آرتامن شامل تمامی قطعات ساخت یک آرماتور مونتاژ شده می‌باشد که به همراه نقشه‌ی ساخت در اختیار شما قرار
            میگیرد؛ و به شما این اجازه را میدهد تا بتوانید با سلیقه‌ خودتان اسکلت بندی مورد نیازتان را طراحی کنید.
            آرماتورهای مونتاژ شده آرتامن یک آرماتور با آناتومی استاندارد است که بارها توسط کارشناسان مورد بازبینی قرار
            گرفته است و قابلیت بازگشایی و تعویض مفاصل را نیز دارد. </p>
        </div>
        <button class="myFqa-accordion" data-aos="fade-down" data-aos-delay="400">چجوری میتونم سفارش بدم؟</button>
        <div class="myFqa-panel">
          <p>
            شما میتوانید در هر ساعت از شبانه روز از طریق از خطوط ارتباطی که در <a href="/contact">صفحه تماس با ما</a>
            ذکر شده نسبت به ثبت سفارش خوداقدام کنید.
          </p>
        </div>

      </div>
    </div>
  </section>




  <!-- ----------------------------------------------------------------------- -->
  <!--                               ENGLISH PART                               -->
  <!-- ----------------------------------------------------------------------- -->

  <section class="mySwiperSloganWrapper py-5 my-5" data-aos="zoom-in" data-aos-offset="0">
    <div class="mainWrapper row pt-3 mt-3">
      <section class="mySlogan col-md-5">
        <div class="mySlogan-textWrap mb-5 mb-sm-auto">
          <h2>
            <span class="highlight-word">Stop-Motion</span> armature and any facilities to animate <br> your <span
              class="highlight-word">Dreams</span>
          </h2>
          <p>Explore a world of possibilities and animate your dreams with our top-notch facilities.</p>
          <a class="myBtn myBtn-greenOut w-100 left-to-right " href="https://shop.artaaman.com/?v=c0a5d2d67475">Order
            Now</a>
        </div>
      </section>

      <section class="mySwiper-container m-2 p-2 col-md-6">
        <div thumbsSlider="" class="swiper mySwiper">
          <div class="swiper-wrapper">
            <!-- تا اینجا اسلایدهای HTML اصلی را نگه می‌داریم -->
            <div class="swiper-slide" data-caption="متن اسلاید اول">
            <figure>
              <img alt="آرماتور استاپ موشن" class="mySwiper-thumbImg" src="/images/PHOTOS/POSTERS/Artaman_01.jpg" />
            <!-- <figcaption>متن اسلاید اول</figcaption> -->
            </figure>
          </div>
        </div>
      </section>
    </div>


  </section>
  <!-- ----------------------------------------------------------------------- -->
  <!--                           SUPPORT                                       -->
  <!-- ----------------------------------------------------------------------- -->


  <section class="mySupport" id="hiddenElement">
    <a class="mySupport-btnFloat" id="mySupport-btn">
      <span class="iconify" data-width="50" data-icon="pajamas:question"></span>
    </a>
    <div class="modal text-right fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel"
      aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content ">
          <div class="modal-header">

            <p class="mt-2 chat-bubble">
              سلام؛ لطفاً فرم زیر را پر کنید تا از تیم پشتیبانی با شما تماس گرفته شود. </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-right">


            <form onsubmit="return validateSupportForm(event) " id="supportForm">
              <div class="row">
                <div class="form-group col-6">
                  <label for="name">نام و نام خانوادگی</label>
                  <input type="text" class="form-control" id="mySupport-formName" name="name"
                    placeholder="نام خود را وارد کنید">
                </div>
                <div class="form-group col-6">
                  <label for="email">آدرس ایمیل</label>
                  <input type="email" class="form-control" id="mySupport-formEmail" name="email"
                    placeholder="ایمیل خود را وارد کنید">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="phone">شماره تماس</label>
                  <input type="text" class="form-control" id="mySupport-formPhone" name="phone"
                    placeholder="شماره تماس خود را وارد کنید">
                </div>
                <div class="form-group col-6">
                  <label for="contact-method">روش ارتباط</label>
                  <select class="form-control" id="mySupport-formMethod" name="contact-method">
                    <option value="default">روش ارتباط</option>
                    <option value="email">ایمیل</option>
                    <option value="message">پیامک</option>
                    <option value="text">شبکه های مجازی</option>
                    <option value="call">تماس تلفنی</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="message">پیغام</label>
                <textarea class="form-control" id="mySupport-formMessage" name="message" rows="5"
                  placeholder="پیغام خود را وارد کنید"></textarea>
              </div>
              <button type="submit" class="myBtn myBtn-greenN btn-primary w-100">ارسال</button>
            </form>
            <!--  -->


            <div class="row m-auto modal-contact-info">
              <div class="col-12 text-center">
                <p>

                  همچنین میتوانید از طریق راههای ارتباطی زیر با ما در تماس باشید.
                </p>
              </div>
              <div class="col-6">

                <ul class="row list-unstyled custom-social justify-content-between ">
                  <li>
                    <a title="تلگرام" target="_blank" href="https://t.me/artaaman_co">
                      <span class="iconify" data-icon="iconoir:telegram-circled" data-width="25"></span>
                    </a>
                  </li>
                  <li>
                    <a title="اینستاگرام" target="_blank" href="https://www.instagram.com/artaaman/">
                      <span class="iconify" data-width="25" data-icon="akar-icons:instagram-fill"></span>
                    </a>
                  </li>
                  <li>
                    <a title="واتساپ" target="_blank" href="https://wa.me/989909890646">
                      <span class="iconify" data-icon="ic:twotone-whatsapp" data-width="28"></span>
                    </a>
                  </li>
                  <li>
                    <a title="ایمیل" target="_blank" href="mailto:info@artaaman.com">
                      <span class="iconify" data-width="25" data-icon="octicon:mail-24"></span>
                    </a>
                  </li>
                </ul>
              </div>

              <a class="col-6 contact-number d-flex justify-content-end" href="tel:09909890646">
                <p class=" text-left">

                  9909890646
                  <span>
                    <span class="iconify" data-icon="clarity:phone-handset-line" data-width="28"></span>
                  </span>
                </p>

              </a>
            </div>
            <!--  -->
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                            Email mySubscribe                            -->
  <!-- ----------------------------------------------------------------------- -->

  <section class="mySubscribe container my-5 py-5 ">
    <div class="mySubscribe-formWrap mt-2 mb-4 pb-4 pt-2 ">
      <h3 class="d-flex align-items-center mb-4" data-aos="fade-left" data-aos-delay="300">
        <img src="/images/envelope-outline.svg" alt="Image" class="img-fluid">
        عضویت در خبرنامه
      </h3>
      <form id="mySubscribe-form" onsubmit="return beforeSubmit()" class="row  align-items-center mb-4">
        <div class="mySubscribe-formItem" data-aos="fade-up" data-aos-delay="100">
          <input id="mySubscribe-formName" type="text" class="form-control" placeholder="نام خود را وارد کنید">
        </div>
        <div class="mySubscribe-formItem" data-aos="fade-up" data-aos-delay="300">
          <input id="mySubscribe-formEmail" type="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
        </div>

        <button type="submit" class="myBtn myBtn-greenN" data-aos="fade-up" data-aos-delay="400">
          <span class="iconify" data-icon="fa:paper-plane"></span>
        </button>

      </form>
    </div>

  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->

  <footer class=" myFooter mt-5">
    <div class="myFooter-imgWrap">
      <img src="/images/lineleft.svg" alt="artaaman logo" class="img-fluid">
    </div>
    <div class="container relative ">


      <div class="myFooter-colWrap row g-5 mb-3">

        <div class="myFooter-col col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="100">
          <h5 class="myFooter-titles  text-justify" data-aos="fade-left" data-aos-delay="200">
            <span class="iconify" data-icon="ant-design:phone-filled" data-width="25"></span>
            اطلاعات تماس
          </h5>
          <div class="w-75 m-auto pt-4">
            <p class=" text-justify" data-aos="fade-up" data-aos-delay="300">در تیم پشتیبانی آرتامن ۲۴ ساعته، ۷ روز هفته
              پاسخگوی شما عزیزانیم</p>
            <div class="myFooter-phones  text-justify" data-aos="fade-up" data-aos-delay="400">
              <a href="tel:09909890646" class="d-flex justify-content-between m-auto">
                پشتیبانی و فروش:<span>09909890646</span>
              </a>
              <a href="tel:09398706081" class="d-flex justify-content-between m-auto">
                دفتر تهران:<span>09398706081</span>
              </a>
              <a href="tel:02637305173" class="d-flex justify-content-between m-auto">
                کارخانه:<span>02637305173</span>
              </a>
            </div>
          </div>

        </div>


        <div class="myFooter-cols col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="300">
          <h5 class="myFooter-titles" data-aos="fade-left" data-aos-delay="300">
            <span class="iconify" data-icon="ci:location" data-width="25"></span>
            آدرس
          </h5>

          <div class="w-75 m-auto pt-4">
            <p class="myFooter-address  text-justify" data-aos="fade-up" data-aos-delay="400">
              دفتر فروش: تهران، شادآباد، خیابان 17 شهریور، خیابان عزیزی، بازار رضا، کوچه یکم، پلاک13
              <br>
              <br>
              کارخانه: کرج، ماهدشت، شهرک صنعتی خوارزمی، خیابان ششم شمالی، پلاک 16
            </p>
            <ul class="list-unstyled custom-social pt-3">
              <li data-aos="fade-up" data-aos-delay="100">
                <a title="تلگرام" target="_blank" href="https://t.me/artaaman_co">
                  <span class="iconify" data-icon="iconoir:telegram-circled" data-width="25"></span>
                </a>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <a title="اینستاگرام" target="_blank" href="https://www.instagram.com/artaaman/">
                  <span class="iconify" data-width="25" data-icon="akar-icons:instagram-fill"></span>
                </a>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <a title="واتساپ" target="_blank" href="https://wa.me/989909890646">
                  <span class="iconify" data-icon="ic:twotone-whatsapp" data-width="28"></span>
                </a>
              </li>
              <li data-aos="fade-up" data-aos-delay="400">
                <a title="ایمیل" target="_blank" href="mailto:info@artaaman.com">
                  <span class="iconify" data-width="25" data-icon="octicon:mail-24"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="myFooter-cols col-lg-4 col-md-12 col-sm-12 " data-aos="fade-up" data-aos-delay="500">
          <h5 class="myFooter-titles text-justify" data-aos="fade-left" data-aos-delay="400">
            <span class="iconify" data-icon="ant-design:star-filled" data-width="25"></span>
            لینکهای ضروری
          </h5>

          <div class="row m-auto pt-4 text-justify justify-content-between w-75">
            <ul class="list-unstyled " data-aos="fade-up" data-aos-delay="500">
              <li><a href="/">صفحه اصلی</a></li>
              <li><a href="/gallery">تصاویر و نقشه‌ها</a></li>
              <li><a href="/news">مقالات آموزشی</a></li>
              <li><a href="/about">درباره آرتامن</a></li>
              <li><a href="/contact">تماس با آرتامن</a></li>
            </ul>
            <ul class="list-unstyled text-left" data-aos="fade-up" data-aos-delay="600">
              <li><a href="https://shop.artaaman.com/">فروشگاه آرتامن</a></li>
              <li><a href="https://shop.artaaman.com/my-account/">ورود/ ثبت نام</a></li>
              <li><a href="https://shop.artaaman.com/my-account/edit-account/">تنظیمات حساب</a></li>
              <li><a href="https://shop.artaaman.com/shop/cart/">سبد خرید</a></li>
              <li><a
                  href="https://shop.artaaman.com/product-category/products/stopmotion-armature/armature-kit/">آرماتور
                  کیت</a></li>
            </ul>
          </div>
        </div>

      </div>


      <div class="copyright border-top ">
        <div class="row pt-4">
          <div class="col-lg-12">
            <p class="mb-2 text-center text-lg-start">Copyright &copy;
              <script>document.write(new Date().getFullYear());</script>
              artaaman
            </p>
          </div>

        </div>
      </div>

    </div>

  </footer>




</body>
<!-- ----------------------------------------------------------------------- -->
<!--                                 SCRIPTS                                 -->
<!-- ----------------------------------------------------------------------- -->

<script type="application/ld+json">

  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "artaaman",
    "image": "https://artaaman.com/images/artamanHero.png",
    "telephone": [
      "09909860646",
      "09398706081"
    ],
    "address": [
      {
        "@type": "PostalAddress",
        "streetAddress": "ماهدشت، شهرک صنعتی خوارزمی، خیابان ششم شمالی، پلاک 16، گروه صنعتی GSP",
        "addressLocality": "کرج",
        "addressRegion": "البرز"
      },
      {
        "@type": "PostalAddress",
        "streetAddress": "شادآباد، خیابان 17 شهریور، خیابان عزیزی، بازار رضا، پلاک 13",
        "addressLocality": "تهران",
        "addressRegion": "تهران"
      }
    ]
  }
  </script>

<!-- SWIPER GALLERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.3/swiper-bundle.min.js"></script>
<!-- NEWS SLIDER  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
  integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- SLIDER -->
<script src="https://unpkg.com/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<!-- SCROLL ANIMATE -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
  integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/iconify.js"></script>
<script src="/js/mainPage.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RYCFE5NR8J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-RYCFE5NR8J');
</script>

</html>