<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="آرماتورهای استاپ موشن مخصوص انیمیت و آموزش">
  <meta name="keywords" content="آرماتور,  استاپموشن, انیمیت">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  <!-- <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->
  
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <link rel="stylesheet" href="/css/responsiv.css"> -->
  <link rel="stylesheet" href="/css/newsPage.css">


  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">


  <title>اخبار و مقالات</title>
</head>
<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                PRELOADE                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- <div class="preloader"> 
    <div class="preloader-iconWrapper">
      <img class="preloader-icon" src="/images/pointsIcon-01.svg" alt="My Site Preloader">
      <img class="preloader-icon" src="/images/pointsIcon-03.svg" alt="My Site Preloader">
      <img class="preloader-icon" src="/images/pointsIcon-04.svg" alt="My Site Preloader">
    </div>
   </div> -->
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->

 
    <script src="/layouts/nav.js"></script>
 

<!-- ----------------------------------------------------------------------- -->
<!--                                NEWS-PART                                -->
<!-- ----------------------------------------------------------------------- -->
<div class="mainWrapper myNewsPage">
  <header class="myMainTitle"><h1 data-aos="fade-up">اخبار و مقالات</h1></header>
  <div class="content-wrapper" data-aos="fade-up" data-aos-delay="100" >
  
    <% if(news.length > 0) { %> 
      <% news.forEach(article => { %>

        <div class="news-card" id="newsCard-1" >
          <a href="/news/<%= article._id %> " class="news-card__card-link"></a>
          <img src="<%= article.img %>"  alt="<%= article.alt || article.title %>" class="news-card__image">
          <div class="news-card__text-wrapper">
            <h2 class="news-card__title"><%= article.title %> </h2>
            <div class="news-card__post-date"><%= formatDate(article.createdAt) %> </div>
            <div class="news-card__details-wrapper">
              <div class="news-card__excerpt"><%- article.subj %></div>
              <a href="/news/<%= article._id %> " class="news-card__read-more">بیشتر <i class="fas fa-long-arrow-alt-left"></i></a>
            </div>
          </div>
        </div>
      <% }) %> 
    <% } %> 
  </div>
  </div>
  <!-- <div class="backBtnWrapper"><a data-aos="fade-up" data-aos-delay="100" class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a></div>
</div> -->


  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->

    <script src="/layouts/footer.js"></script>
 
 

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- Swiper JS -->
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
  <!-- <script src="/js/jquery.min.js"></script> -->
  <script src="/js/aos.js"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/iconify.js"></script>
  <script src="/js/script.js"></script>

</body>

</html>