<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="title" content="   <%= article.title %>" />
  <meta property="url" content="https://www.artaaman.com/news/" />
  <meta property="subject" content="<%= article.title %>">
  <link rel='fluid-icon' type='image/jpg' href='/fluid-icon.png'>
  <meta property="og:image" content="https://artaaman.com<%= article.img %>">
  <meta property="type" content="article" />
  <meta name = "revised" content = "  <%= formatDate(article.createdAt) %>  " />

  <meta property="og:image" content="https://artaaman.com<%= article.img %>">
  <meta name="keywords"
  content="<%= article.keywords %> , آرماتور استاپ‌موشن">

  <!-- <link rel="stylesheet" href="/css/mainPage.css"> -->

  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/singleNewsPage.css">

  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">

  <title>
    <%=article.title %>
  </title>

</head>


<body>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <script src="/layouts/nav.js"></script>
  <!-- ----------------------------------------------------------------------- -->
  <!--                               ARTICLE                               -->
  <!-- ----------------------------------------------------------------------- -->
  <main class="myNews-outerPart">
    <article class="myNews-myArticle">
      <header class="myNews-header">
        <h1>
          <%= article.title %>
        </h1>
        <div>
          <span>
            <%= formatDate(article.createdAt) %>
          </span>
          <!-- ------------------------------------SHARE-BTNS----------------------------------- -->
          <button class="btn-share">
            <span class="btn-text"> اشتراک‌گذاری</span>
            <span class="iconify btn-icon" data-width="32" data-icon="carbon:share"></span>

            <ul class="social-icons">
              <li>
                <a href="javascript:window.location=waCurrentPage();" title="واتساپ"> <span class="iconify"
                    data-width="32" data-icon="ic:round-whatsapp"></span></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/"
                  onclick="window.location = 'http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(window.location); return false"
                  title="لینکدین"
                  >
                    <span class="iconify" data-width="32" data-icon="ph:linkedin-logo"></span>
                  </a>
              </li>

              <li>
                <a title="توییتر" href="http://twitter.com/" onclick="window.location = 'http://twitter.com/home/?status=' + encodeURIComponent(window.location); return false">
                  <span class="iconify" data-width="32" data-icon="iconoir:twitter"></span> </a>
                </a>

              </li>
            </ul>
          </button>
        </div>
      </header>

      <figure class="myNews-figure">
        <img src="<%= article.img %>" alt="<%= article.alt || article.title %>">
        <figcaption class="myNews-figureCapion">
          <%- article.desc %>
        </figcaption>
      </figure>
    </article>

    <!-- ----------------------------------------------------------------------- -->
    <!--                            RELATED-NEWS                             -->
    <!-- ----------------------------------------------------------------------- -->
    <aside id="relatedNewsWrapper">
      <section class="mySlideshow-wrapper">
        <h4>
          مطالب مشابه
        </h4>
        <div class="owl-carousel owl-theme mainWrapper" id="relatedNews">
          <% related.forEach(related=> { %>
            <div class="myCardItem" id="newsItem">
              <!-- ITEM START -->
              <a href="/news/<%= related._id %>">
                <img src="<%= related.img %> " alt="<%= related.alt || related.title %>">
                <div class="myCardDetails">
                  <small>
                    <%= formatDate(related.createdAt) %>
                  </small>
                  <h3>
                    <%= related.title %>
                  </h3>
                  <p>
                    <%- related.desc %>
                  </p>
                </div>
              </a>
            </div><!-- ITEM END -->
            <% }) %>
        </div>
      </section>
    </aside>
  </main>




  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <script src="/layouts/footer.js"></script>



  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->

  <!-- Swiper JS -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
  <script src="/js/iconify.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/singlePage.js"></script>

</body>

</html>